<div>

    {{#link-to 'index' (query-params channel=channel.id) class="channel-stub-link"}}
      <h3 class="channel-stub-title">
        {{siteName}}
      </h3>
      {{#if channel.publicSite.logo.url}}
        <div class="thumbnail">
          <img src="{{channel.publicSite.logo.url}}" class="img img-responsive">
        </div>
      {{else}}
        <img src="{{rootURL}}images/temp-peg-logo.png" class="img img-responsive">
      {{/if}}
    {{/link-to}}


  <p>{{{channel.publicSite.aboutPageDescription}}}</p>

</div>
