<div id="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="header-logo-wrapper">
					{{#link-to "index" class="main"}}
						{{#if channel.publicSite.logo.url}}
							<img src="{{channel.publicSite.logo.url}}" class="header-logo-img">
						{{else}}
							<img src="images/temp-peg-logo.png" class="header-logo-img">
						{{/if}}
					{{/link-to}}
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 pull-right">
				<div class="row">
					<div class="col-xs-12 col-sm-6 header-controls pull-right">
						<form {{action 'search' on='submit'}}>
							<div class="input-group">
								{{input value=tempQuery class="form-control" placeholder="Search"}}
								<span class="input-group-btn">
									<button class="btn btn-search" type='submit' {{action 'search' tempQuery }} >Search</button>
								</span>
							</div>
						</form>
					</div>
					<div class="col-xs-12 col-sm-6 header-controls pull-right">
						<div class="button-wrapper pull-right">
							{{link-to 'Home' 'index' tagName="button" activeClass="" class="btn btn-primary btn-nav-bar"}}
							{{link-to 'Schedule' 'schedule' tagName="button" activeClass="" class="btn btn-primary btn-nav-bar"}}
							{{#if channel.liveStreams}}
									{{link-to 'Watch' 'watch-now' channel.liveStreams.firstObject.id activeClass="" class="btn btn-watch btn-nav-bar"}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
