{{!-- template-lint-disable no-unused-block-params --}}
{{#each @chapters as |chapter index|}}
  {{!-- template-lint-disable no-invalid-interactive --}}
  <div
    data-chapter={{chapter.id}}
    class="vod-chapters-chapter {{if (eq chapter this.activeChapter) "active"}}"
    {{action "cueTo" chapter}}
  >
    <h4>
      {{chapter.title}}
      <small>
        {{total-run-time chapter.offset}}
      </small>
    </h4>
    <p>
      {{chapter.body}}
    </p>
  </div>
  {{#unless (eq chapter this.chapters.lastObject)}}
    <hr class="vod-chapters-seperator">
  {{/unless}}
{{/each}}