{{#each markers as |marker|}}
  <div {{action 'cueTo' marker}}
       data-marker={{marker.id}}
       class="vod-chapters-chapter {{if (eq marker activeMarker) 'active'}}">
  	<h4>{{marker.title}} <small>{{total-run-time marker.offset}}</small></h4>
    <p>{{marker.body}}</p>
  </div>
{{/each}}