<h3 class="show-details-header">Show details</h3>
<p>Show ID: <strong itemprop="clipnumber">{{show.id}}</strong></p>
<p>Event date: <strong itemprop="dateCreated">{{show.eventDateString}}</strong></p>
{{#if firstRun}}
  <p>
    {{#if firstRunIsFuture}}Premiers:{{else}}Premiered:{{/if}}
    <strong>{{moment-format firstRun.runDateTime 'M/D/Y [at] h:mm a'}}</strong>
  </p>
{{/if}}
{{#if producer.name}}
	<p>Producer: <strong itemprop="producer">{{show.producer.name}}</strong></p>
{{/if}}

{{#if project.name}}
	<p>Project: <strong itemprop="publication">{{show.project.name}}</strong></p>
{{/if}}

{{#each reels as |reel|}}
	<p>Length: <strong>{{reel.trt}}</strong></p>
{{/each}}

<h3>Upcoming air times</h3>
{{#each runs as |run|}}
	<div class="show-future-runs-container" itemprop="temporalCoverage">
		{{moment-calendar run.runDateTime}}
	</div>
{{else}}
	There are currently no upcoming air times.
{{/each}}
