<h3 class="show-details-header">Show details</h3>
{{#each orderedFields as |fd|}}
  {{#with (show-field show fd) as |value|}}
    <div>
      <label>{{fd.label}}</label>
      {{#if (eq fd.widget 'link')}}
        <a href={{value}} target=_blank>{{value}}</a>
      {{else if (eq fd.widget 'date')}}
        {{moment-format value 'l'}}
      {{else if (eq fd.widget 'block-text')}}
        <p>{{value}}</p>
      {{else}}
        {{value}}
      {{/if}}
    </div>
  {{/with}}
{{/each}}

<h3>Upcoming air times</h3>
{{#each runs as |run|}}
	<div class="show-future-runs-container">
		{{moment-calendar run.runDateTime}}
	</div>
{{else}}
	There are currently no upcoming air times.
{{/each}}
