<div class="show-stub" ...attributes>
  {{#if @show.thumbnail}}
    <LinkTo @route="show" @model={{@show.showId}} class="thumbnail-responsive">
      <img src={{@show.thumbnail}} class="img-response" />
    </LinkTo>
  {{else}}
    <div class="thumbnail-responsive"></div>
  {{/if}}
  <h3 class="show-stub-title-header u-break-text">
    <LinkTo @route="show" @model={{@show.showId}} class="show-stub-title-link">{{@show.title}}</LinkTo>
  </h3>
</div>