<div ...attributes>
  {{#unless this.hideControl}}
    <nav>
      <ul class="pagination pagination">
        {{#unless this.hideFirst}}
          <li>
            <a href="#" aria-label="First" {{action "gotoPage" 1}}>
              {{#if this.displayFirstLastAsNumber}}
                1
              {{else}}
                First
              {{/if}}
            </a>
          </li>
        {{/unless}}
        {{#if this.showPrevNextButtons}}
          <li>
            <a href="#" aria-label="Previous" {{action "prev"}}>
              <span aria-hidden="true">
                «
              </span>
            </a>
          </li>
        {{/if}}
        {{#each this.pages as |page|}}
          <li class={{if page.active "active"}}>
            <a href="#" {{action "gotoPage" page.number}}>
              {{page.number}}
            </a>
          </li>
        {{/each}}
        {{#if this.showPrevNextButtons}}
          <li>
            <a href="#" aria-label="Next" {{action "next"}}>
              <span aria-hidden="true">
                »
              </span>
            </a>
          </li>
        {{/if}}
        {{#unless this.hideLast}}
          <li>
            <a href="#" aria-label="First" {{action "gotoPage" this.pageCount}}>
              <span aria-hidden="true">
                {{#if this.displayFirstLastAsNumber}}
                  {{this.pageCount}}
                {{else}}
                  Last
                {{/if}}
              </span>
            </a>
          </li>
        {{/unless}}
      </ul>
    </nav>
  {{/unless}}
</div>