<div class="search-page">

	<div class="row">
		<div class="col-xs-12">
			<h1 class="search-results-header">
				{{title}}<br>
				{{#if showPaginationControl}}
					<small>Displaying {{firstResult}}-{{lastResult}} of {{meta.count}} shows.</small>
				{{else}}
          <small>Displaying {{shows.length}} shows.</small>
        {{/if}}
			</h1>
		</div>
	</div>

	<div class="show-player clearfix">
		<div class="col-lg-12 u-no-padding">
      {{#if showPaginationControl}}
				{{pagination-control
          on-page-select=(action 'goToPage')
          pageSize=meta.pageSize
          offset=meta.offset
          count=meta.count
          class="text-center"
        }}
      {{/if}}
      <div class="show-stub-container">
      {{#if loading}}
        {{loading-spinner}}
      {{else}}
        {{#each shows as |result|}}
          {{show-stub show=result}}
        {{else}}
          <h3>Your search returned no results.</h3>
        {{/each}}
      {{/if}}
      </div>
      {{#if showPaginationControl}}
				{{pagination-control
          on-page-select=(action 'goToPage')
          pageSize=meta.pageSize
          offset=meta.offset
          count=meta.count
          class="text-center"
        }}
      {{/if}}
		</div>
	</div>
</div>


