<div class="channel-stub" ...attributes>
  <LinkTo @route="index" @query={{hash channel=@channel.id}} class="channel-stub-link">
    <p class="channel-stub-title">
      {{this.siteName}}
    </p>
    <div class="channel-stub-logo">
      {{#if this.logo}}
        <img src={{this.logo}} class="img img-responsive" alt="Logo">
      {{else}}
        <img
          src="{{this.rootURL}}images/temp-peg-logo.png"
          class="img img-responsive"
          alt="Logo"
        >
      {{/if}}
    </div>
    {{!--<p>{{{channel.publicSite.aboutPageDescription}}}</p>--}}
  </LinkTo>
</div>