<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="footer-header">
          {{config.aboutPageShortDescription}}
        </h1>
        <p>
          {{!-- template-lint-disable no-triple-curlies --}}
          {{{config.aboutPageDescription}}}
        </p>
        {{#if (and (gt publicChannels.length 1) showOtherChannels)}}
          <h2 class="public-site-links-title">
            {{#if (gt publicChannels.length 2)}}
              Browse our other channels
            {{else}}
              Browse our other channel
            {{/if}}
          </h2>
          <div class="channel-stub-container">
            {{#each publicChannels as |otherChannel|}}
              {{#if (not-eq channel otherChannel)}}
                <ChannelStub @channel={{otherChannel}} />
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
      </div>
      <div class="col-md-4">
        <h1 class="footer-header">
          Contact Us
        </h1>
        <ContactUs @config={{config}} @hasPodcasts={{hasPodcasts}} />
      </div>
    </div>
  </div>
</div>