<div class="gallery-title-wrapper">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="gallery-title-header" {{action 'collapseGallery'}}>
        {{gallery.displayName}}
        {{#if collapsed}}
          {{fa-icon 'chevron-up'}}
        {{else}}
          {{fa-icon 'chevron-down'}}
        {{/if}}
      </h1>
    </div>
    <div class="col-xs-2">
      {{#if gallery.id}}
        {{#link-to 'gallery' gallery.id class='gallery-show-all-link'}}
          Show All...
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>

<div class="gallery-wrapper">
{{#unless collapsed}}
  <div class="row" itemscope itemtype="http://schema.org/VideoGallery">
    {{#if showsTask.isRunning}}
      {{loading-spinner}}
    {{else}}
      {{#each filteredShows as |show|}}
        {{show-stub show=show classNames="col-xs-12 col-sm-6 col-md-3"}}
      {{/each}}
    {{/if}}
  </div>
{{/unless}}
</div>
