<div class="schedule-row">

    <div class='plaque'>
        {{#if (is-time-in-between item.start item.end)}}
            <div class='plaque-content now'>
                <div><span>NOW</span></div>
            </div>
        {{else}}
            <div class='plaque-content not-now'>
                <div><span>{{item.scheduledTimeString}}</span></div>
            </div>
        {{/if}}
    </div>

    <div class="schedule-container">
        <div class="play-icon">
        {{#if item.show.vods.firstObject}}
            {{#link-to 'show' item.show.id alt=item.show.cgTitle class="play-icon-link"}}
                <span class="glyphicon glyphicon-play" aria-hidden="true" title="Watch now"></span>
            {{/link-to}}
        {{/if}} 
        </div>

        <div class="schedule-title u-truncate-text" title="{{item.show.cgTitle}}">
            {{#link-to 'show' item.show.id alt=item.show.cgTitle class="show-link"}}
                {{item.show.cgTitle}}
            {{/link-to}}
        </div>

        <div class="event-date">
            {{item.scheduledDateTimeString}}
        </div>
    </div>
</div>