<NavMenu @channel={{model.channel}} @onSearch={{action "navSearch"}} />
<div class="container-wrapper">
  <div class="container">
    {{outlet}}
    <hr>
  </div>
</div>
<ChannelFooter @config={{model.channel.publicSite}} @hasPodcasts={{hasPodcasts}} @channel={{model.channel}} @publicChannels={{publicChannels}} @showOtherChannels={{showOtherChannels}} />
<UpdateChannelStyles @channel-id={{model.channel.id}} />