{{page-title this.model.pageTitle}}
<NavMenu @channel={{this.model.channel}} @onSearch={{action "navSearch"}} />
<div class="container-wrapper">
  <div class="container">
    {{outlet}}
    <hr>
  </div>
</div>
<ChannelFooter @config={{this.model.channel.publicSite}} @hasPodcasts={{this.hasPodcasts}} @channel={{this.model.channel}} @publicChannels={{this.publicChannels}} @showOtherChannels={{this.showOtherChannels}} />
<UpdateChannelStyles @channel-id={{this.model.channel.id}} />