<div class="search-page">
  <PaginatedShowList
    @title={{this.model.gallery.displayName}}
    @loading={{this.model.isPending}}
    @page={{this.page}}
    @pageSize={{50}}
    @total={{this.model.gallery.savedShowSearch.results.length}}
    @shows={{this.model.shows}}
    @goToPage={{action "goToPage"}} />
</div>