<div>
  <div class="show-player clearfix">
  	   <div class="col-sm-6 col-lg-8 u-no-padding">
    	<div class="embed-responsive embed-responsive-16by9">
      	{{#if carouselShows.length}}
					{{show-carousel shows=carouselShows}}
				{{/if}}
      </div>
    </div>
      <div class="col-sm-6 col-lg-4 u-no-padding">
      <div class="additional-info u-truncate-text">
        {{preview-schedule channel=channel futureRuns=model.futureRuns}}
      </div>
    </div>
  </div>
</div>

{{#if siteGalleries.length}}
  {{#each siteGalleries as |gallery|}}
    {{#if (gt gallery.savedShowSearch.results.length 0)}}
      {{ shows-gallery gallery=gallery}}
    {{/if}}
  {{/each}}
{{else}}
  {{shows-gallery gallery=(hash displayName="Recent Shows" displayLimit=12) shows=model.defaultShows}}
{{/if}}

<div class="social-wrapper">
  {{#fb-share-button}}Share{{/fb-share-button}}
  {{#twitter-share-button}}Tweet{{/twitter-share-button}}
</div>
