<div id="main" class="main-background">
        <div class="carousel-background upcoming-shows">
            <div class="row">
                <div class="col-sm-7 col-md-8">
                	{{show-carousel shows=model.carouselPrograms}}
    			</div>
    			<div class="col-sm-5 col-md-4 upcoming-schedule">
          	         <h3>COMING UP...</h3>
        				{{shows-schedule className='front-page' schedule=model.channel.schedule}}
                        {{link-to 'See the entire schedule' 'schedule' class="btn btn-schedule"}}
    			</div>
            </div>
        </div>
</div>			

<div id="browse">
        <div class="row">
            <div class="col-md-12">
                <h1 class="gallery-name">{{model.galleryName}}</h1>
            </div>
        </div>
</div>

<div id="library">
    {{shows-latest shows=model.galleryPrograms}}
</div>