<div>
  <div class="show-player clearfix">
    <div class="col-sm-6 col-lg-8 u-no-padding">
      <div class="embed-responsive embed-responsive-16by9">
        {{#if this.carouselShows.length}}
          <ShowCarousel @shows={{this.carouselShows}} />
        {{/if}}
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 u-no-padding">
      <div class="additional-info u-truncate-text">
        <PreviewSchedule @channel={{this.channel}} @futureRuns={{this.model.futureRuns}} />
      </div>
    </div>
  </div>
</div>
{{#if this.siteGalleries.length}}
  {{#each this.siteGalleries as |gallery|}}
    {{#if (gt gallery.savedShowSearch.results.length 0)}}
      <ShowsGallery @gallery={{gallery}} />
    {{/if}}
  {{/each}}
{{else}}
  <ShowsGallery
    @gallery={{hash displayName="Recent Shows" displayLimit=12}}
    @shows={{this.model.defaultShows}} />
{{/if}}
<div class="social-wrapper">
  <FbShareButton>Share</FbShareButton>
  <TwitterShareButton>Tweet</TwitterShareButton>
</div>