{{page-title "Search Results"}}
<div class="search-page">
  <PaginatedShowList
    @title="Search Results"
    @loading={{this.model.isPending}}
    @meta={{this.meta}}
    @shows={{this.model}}
    @page={{this.page}}
    @pageSize={{50}}
    @total={{this.meta.count}}
    @goToPage={{action "goToPage"}} />
</div>
