<div class="show-page">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="show-page-header">{{show.cgTitle}}</h2>
    </div>
  </div>
  <div class="show-player clearfix">
  	   <div class="col-sm-6 col-lg-8 u-no-padding">
  	{{#if show.vods.firstObject.isReady}}
			<div class="embed-responsive embed-responsive-16by9">
        {{{show.vods.firstObject.embedCode}}}
			</div>
		{{else}}
      <div class="embed-responsive embed-responsive-16by9">
        {{show-thumbnail show=show quality='Large' class="img-responsive"}}
      </div>
		{{/if}}
    </div>
      <div class="col-sm-6 col-lg-4 u-no-padding">
        <ul class="nav nav-tabs nav-tabs-padding" id="myTab">
          <li class="{{if (eq activeTab 'details') 'active'}}">
            <a href="#" {{action 'showDetails'}} class="btn btn-link">
              Show Details
            </a>
          </li>
          {{#if show.vods.firstObject.chapters}}
          <li class="hiddex-sx {{if (eq activeTab 'chapters') 'active'}}">
            <a href="#" {{action 'showChapters'}} class="btn btn-link">
              Chapters
            </a>
          </li>
          {{/if}}
        </ul>
    <div class="tab-content">
      <div class="tab-pane active">
      {{#if (eq activeTab 'details')}}
        <div class="additional-info u-truncate-text">
          {{show-details show=show producer=producer reels=reels runs=runs currentChannelId=currentChannelId}}
        </div>
      {{else}}
        <div class="additional-info">
          {{#if show.vods.firstObject.chaptersPublished}}
            {{vod-chapters chapters=show.vods.firstObject.chapters seekto=seekto setSeekTo=(action 'setSeekTo')}}
          {{/if}}
        </div>
      {{/if}}
      </div></div>

    </div>
  </div>
  {{#fb-share-button}}Share{{/fb-share-button}}
  {{#twitter-share-button}}Tweet{{/twitter-share-button}}
</div>
