{{#if this.embededPdf}}
  <div class="row show-page">
    <div class="col-sm-12">
      <h2 class="show-page-header">
        {{this.show.cgTitle}}
      </h2>
      <div class="show-page-social-links hidden-xs">
        <FbShareButton>Share</FbShareButton>
        <TwitterShareButton>Tweet</TwitterShareButton>
      </div>
    </div>
  </div>
  <div class="row show-page show-page-last-row">
    <div class="col-sm-5 col-sm-push-7">
      <div class="row show-page show-page-video-col">
        {{! VOD or Image}}
        <div class="col-sm-12">
          {{#if
            (or this.show.vods.firstObject.isWatchable this.show.vods.firstObject.isReady)
          }}
            <div class="embed-responsive embed-responsive-16by9">
              {{! template-lint-disable no-triple-curlies }}
              {{{this.show.vods.firstObject.embedCode}}}
            </div>
          {{else}}
            <div class="embed-responsive embed-responsive-16by9">
              <ShowThumbnail @show={{this.show}} @quality="large" class="img-responsive" />
            </div>
          {{/if}}
          <div class="show-page-social-links visible-xs-block">
            <FbShareButton @adaptive={{false}}>
              Share
            </FbShareButton>
            <TwitterShareButton @adaptive={{false}}>
              Tweet
            </TwitterShareButton>
          </div>
        </div>
        {{!Chapters / details Tabs}}
        <div class="col-sm-12">
          <div class="show-page-section-btns-wrapper clearfix">
            {{#if this.vodChapters}}
              <button
                type="button"
                class="btn show-page-section-btn pull-left
                  {{if (eq this.activeTab "details") "btn-primary" "btn-default"}}"
                {{action "showDetails"}}
              >
                Show Details
              </button>
              <button
                type="button"
                class="btn show-page-section-btn pull-right
                  {{if (eq this.activeTab "chapters") "btn-primary" "btn-default"}}"
                {{action "showChapters"}}
              >
                Chapters
              </button>
              <a
                href={{this.embededPdf.url}}
                class="btn show-page-section-btn btn-default visible-xs-inline-block"
              >
                Open
                {{this.embededPdf.fieldDisplay.label}}
                {{fa-icon "external-link"}}
              </a>
            {{else}}
              <h3 class="show-page-show-details-header">
                Show Details
              </h3>
            {{/if}}
          </div>
        </div>
        <div class="col-sm-12">
          {{! Show Details / Chapters}}
          {{#if (eq this.activeTab "details")}}
            <ShowDetails
              @show={{this.show}}
              @producer={{this.producer}}
              @reels={{this.reels}}
              @runs={{this.runs}}
              @currentChannelId={{this.currentChannelId}}
            />
            <h3 class="show-page-airtimes-header">
              Upcoming air times
            </h3>
            {{#each this.runs as |run|}}
              <div class="show-future-runs-container">
                {{moment-calendar run.runDateTime}}
              </div>
            {{else}}
              There are currently no upcoming air times.
            {{/each}}
          {{else}}
            <VodChapters
              @chapters={{this.vodChapters}}
              @seekto={{this.seekto}}
              @setSeekTo={{action "setSeekTo"}}
            />
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-sm-pull-5">
      <PdfViewer @url={{this.embededPdf.url}} @class="hidden-xs" />
      {{!pdf-js pdf=documentUrl toolbarComponent=null}}
    </div>
  </div>
{{else}}
  <div class="row show-page">
    <div class="col-sm-12">
      {{#if (or this.show.vods.firstObject.isWatchable this.show.vods.firstObject.isReady)
      }}
        <div class="embed-responsive embed-responsive-16by9">
          {{! template-lint-disable no-triple-curlies }}
          {{{this.show.vods.firstObject.embedCode}}}
        </div>
      {{else if this.show.showThumbnails}}
        <div class="embed-responsive embed-responsive-16by9">
          <ShowThumbnail @show={{this.show}} @quality="Large" class="img-responsive" />
        </div>
      {{/if}}
    </div>
  </div>
  <div class="row show-page">
    <div class="col-sm-12">
      <h2 class="show-page-header">
        {{this.show.cgTitle}}
      </h2>
      <div class="show-page-social-links">
        <FbShareButton>Share</FbShareButton>
        <TwitterShareButton>Tweet</TwitterShareButton>
      </div>
    </div>
  </div>
  <div class="row show-page show-page-last-row">
    <div class="col-sm-6">
      <h3 class="show-page-show-details-header">
        Show Details
      </h3>
      <ShowDetails
        @show={{this.show}}
        @producer={{this.producer}}
        @reels={{this.reels}}
        @runs={{this.runs}}
        @currentChannelId={{this.currentChannelId}}
      />
    </div>
    <div class="col-sm-6">
      {{#if
        (and
          this.show.vods.firstObject.chapters this.show.vods.firstObject.chaptersPublished
        )
      }}
        <h3 class="show-details-chapters-header">
          Chapters
        </h3>
        <VodChapters
          @chapters={{this.vodChapters}}
          @seekto={{this.seekto}}
          @setSeekTo={{action "setSeekTo"}}
        />
        <hr>
      {{/if}}
      <h3 class="show-page-airtimes-header">
        Upcoming air times
      </h3>
      {{#each this.runs as |run|}}
        <div class="show-future-runs-container">
          {{moment-calendar run.runDateTime}}
        </div>
      {{else}}
        There are currently no upcoming air times.
      {{/each}}
    </div>
  </div>
{{/if}}