<div class="show-page">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="show-page-header">{{show.cgTitle}}</h2>
    </div>
  </div>
  <div class="show-player clearfix">
  	   <div class="col-sm-6 col-lg-8 u-no-padding">
  	{{#if show.vods.firstObject.isReady}}
			<div class="embed-responsive embed-responsive-16by9">
        {{{show.vods.firstObject.embedCode}}}
			</div>
		{{else}}
      <div class="embed-responsive embed-responsive-16by9">
        {{show-thumbnail show=show quality='Large' class="img-responsive"}}
      </div>
		{{/if}}
    </div>
      <div class="col-sm-6 col-lg-4 u-no-padding">
        <ul class="nav nav-tabs nav-tabs-padding" id="myTab">
      <li class="hiddex-sx {{if showingChapters 'active'}}">
        <a href="#" {{action 'showChapters'}} class="btn btn-link">
          Chapters
        </a>
      </li>
      <li class="{{if showingDetails 'active'}}">
        <a href="#" {{action 'showDetails'}} class="btn btn-link">
          Show Details
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
      {{#if showingChapters}}
        <div class="additional-info u-truncate-text">
          {{vod-chapters markers=show.vods.firstObject.markers}}
        </div>
      {{/if}}
      {{#if showingDetails}}
        <div class="additional-info u-truncate-text">
          {{show-details show=show producer=producer reels=reels runs=runs}}
        </div>
      {{/if}}
      </div></div>

    </div>
  </div>
</div>
