{{page-title this.model.liveStream.name}}
<div class="watch-now-page">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="watch-now-header">
        You're watching
        {{this.model.liveStream.channel.name}}
      </h2>
    </div>
  </div>
  <div class="show-player clearfix">
    <div class="col-sm-6 col-lg-8 u-no-padding">
      <div class="embed-responsive embed-responsive-16by9">
        {{!-- template-lint-disable no-triple-curlies --}}
        {{{this.model.liveStream.embedCode}}}
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 u-no-padding">
      <div class="additional-info u-truncate-text">
        <PreviewSchedule @channel={{this.model.channel}} @futureRuns={{this.model.futureRuns}} />
      </div>
    </div>
  </div>
  <FbShareButton>Share</FbShareButton>
  <TwitterShareButton>Tweet</TwitterShareButton>
</div>